@model IEnumerable<LearningManagementSystem.Models.DTO.AnnouncementsVM>

@{
    ViewData["Title"] = "GetAnnouncements";
}

<h1>Announcements</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <p>
        <a asp-action="Create" asp-controller="Announcements" class="btn btn-primary">Create New Announcement</a>
    </p>
}

@if (!Model.Any())
{
    <p>No announcements available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.FilePath))
                        {
                            <a asp-action="ViewAnnouncement"
                               asp-controller="Announcements"
                               asp-route-FilePath="@item.FilePath"
                               class="fw-semibold text-dark text-decoration-none">
                                @item.Description
                            </a>
                        }
                        else
                        {
                            <span class="fw-semibold text-dark">
                                @item.Description
                            </span>
                        }

                    </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                    {
                        <td>
                            @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                            <a asp-action="DeleteAnnouncement" asp-controller="Announcements" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
