@model IEnumerable<LearningManagementSystem.Models.DTO.RegisterDTO>

@{
    ViewData["Title"] = "Course Students";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}

<h2 class="mb-4">Students Enrolled in Course</h2>
<a asp-action="MarkManualAttendance"
   asp-controller="Attendance"
   asp-route-courseId="@ViewBag.CourseId"
   class="btn btn-sm btn-primary">
    Mark Attendance
</a>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info text-center mt-3">
        No students found for this course.
    </div>
}
else
{
    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-bordered table-striped mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Enrollment Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.Email</td>
                            <td>@student.EnrollmentNumber</td>
                            <td>
                                <a class="btn btn-sm btn-danger me-2"
                                   asp-route-id="@student.Id"
                                   asp-action="GetStudentProfile"
                                   asp-controller="Admin">
                                    <i class="bi bi-person-circle me-2"></i>Profile
                                </a>

                                <a class="btn btn-sm btn-primary"
                                   asp-route-studentId="@student.Id"
                                   asp-route-courseId="@ViewBag.CourseId"
                                   asp-action="ViewCourseAttendance"
                                   asp-controller="Attendance">
                                    <i class="bi bi-calendar-check me-2"></i>Attendance
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
